.question {
    color: brown;
    cursor: pointer;
    /*le decimos que tenga un puntero por eso se pone cursor*/
    font-size: 1.2;
}
.question:before{
    content: '¿'
}

.question::after {
    content: '?'
}

.destacado {

    font-size: 1.3rem;
    color: bisque;
    background-color: brown;
}
/*esto es una clase que se llama destacado, cuando alguien haga click en un evento que 
/* ponga destacado