/*font-family: 'Merriweather', serif;
font-family: 'Just Another Hand', cursive;*/
body {
    display: flex;
    margin: 1rem;
    padding: 0;
    
    }
header {
    background-color: skyblue;
    width: 100%;
    
}
section {
    font-size: 1em;
    background-color: lightblue;
    
}

p {
    font-family: cursive;
    background-color: aliceblue
}
.image-wrapper-50 {
    
    float: right;
    margin-left: 0.5rem;
   }
h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

img {
    max-width: 100%
}

aside {
    width: 50%;
    }