section {
    min-height: 80vh;
    display: flex;
    
    /*Alineacion en el eje principal : por defecto flex-start*/
   justify-content: center;
   /*Alineacion en el eje secundario : por defecto stretch*/
   align-items: center;
}

.item-flex {
    background-color: rgba(250, 128, 114, 0.2);
    text-align: center;
    padding: 2rem;
}
/*esto no es una buena practica# le doy estilos al boton*/
/*#btn-saludar {

    color: aliceblue;
    background: 
} como mucho le haríamos una clase pero bueno lo vamos a hacer de otra forma*/

/*button:nth-of-type(2) {/*este sería el 2ºhijo y solo esta vez se va a hacer así
    pero lo haremos con id siempre
    color: aliceblue;
    background-color: aqua
}*/
button: {
    color: aliceblue;
    background-color: aqua
}