* {
    box-sizing: border-box;
}

body {
    margin: 0
}

header, footer {}

section {
    width: 90%;
    margin: 1rem auto;
}

.control-group, label, input {
    display: block;
    width: 100%

}

.lista ol, .lista ul {
    list-style: none;
    margin: 0;
    padding: 0
}